[submodule "possible-x-did-web-service"]
	path = possible-x-did-web-service
	url = https://github.com/Dataport/possible-x-did-web-service
[submodule "possible-x-piveau-ui"]
	path = possible-x-piveau-ui
	url = https://github.com/Dataport/possible-x-piveau-ui
[submodule "possible-x-signing-service"]
	path = possible-x-signing-service
	url = https://github.com/Dataport/possible-x-signing-service
