// import custom theme
@import 'bootstrap_theme';

// import full bootstrap framework
@import "~bootstrap/scss/bootstrap.scss";

// Import Piveau modules
@import "@modules-scss/main.scss";

.distribution-dropdown-download-one-url {
  margin-top: -0.35rem;
  text-align: left;
}

.container-fluid{

  padding-left:42px !important;
}


// Hacky solution to fix the dataset details -- needs to be fixed in the modules #### start ######
.additional-information-overlay {
  opacity: 0;
}

#myTab {
  max-height: 100% !important;
}

.keywords__item {
  margin-left: 8rem;
}

.alert-dismissible {
  margin-left: 5rem;
}

.dsd-subject-feature {
  margin-left: 0;
  padding-left: 0;

}

.dsd-subject-feature {
  .mb-4 {
    margin-left: 8rem;
    font-weight: 400 !important;
    font-size: 2rem;
    line-height: 1.2;
  }
}

.dsd-item {
  table {
    padding: 1rem
  }
}

// Hacky solution to fix the dataset details #### end ######
.circle {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  line-height: 1px;
  border-radius: 50%;
  background-color: #595959;

  &[type="HTML"] {
    background-color: #285C76;
  }

  &[type="JSON"] {
    background-color: var(--dark-orange);
  }

  &[type="XML"] {
    background-color: #8F4300;
  }

  &[type="TXT"] {
    background-color: #2B5E73;
  }

  &[type="CSV"] {
    background-color: var(--badge-green);
  }

  &[type="XLS"],
  &[type="Excel XLSX"] {
    background-color: #1A6537;
  }

  &[type="ZIP"] {
    background-color: #252525;
  }

  &[type="API"] {
    background-color: #923560;
  }

  &[type="PDF"] {
    background-color: #B30519;
  }

  &[type="SHP"] {
    background-color: var(--badge-black);
  }

  &[type="RDF"],
  &[type="NQUAD"],
  &[type="NTRIPLES"],
  &[type="TURTLE"] {
    background-color: #0b4498;
  }
}

.dsd-item {
  @extend .col-12, .col-lg-11, .offset-lg-1;
}

.dsd-feature {
  @extend .d-flex, .flex-wrap, .mt-5;
}

.dsd-feature-title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.dsd-properties .show-more {
  display: none;
}

@media screen and (max-width: 991px) {

  // less than lg
  .dsd-nav-button button {
    min-width: 200px !important;
    margin-bottom: 8px !important;
  }

  .dsd-features {
    .row {

      margin-left: 0;
      margin-right: 0;
    }
  }
}

.mt-4 {
  margin-top: 30px !important;
}

.mb-4 {
  margin-bottom: 30px !important;
}

#navbar-toggle {
  margin-bottom: 0 !important;
}

#blur {
  // height: 130px !important;
  // background-color: #efefef;
  display: none !important;
}

#subStepperBox {
  top: 215px !important;
  background-color: #efefef;

  // height: 130px;
  #stepper .step-progress__step {
    border: solid #efefef 20px;
  }

  .step-progress__wrapper {
    background-color: #efefef;
    border-bottom: 20px solid #efefef;
  }

  .step-progress__wrapper-before {
    top: 35% !important
  }

  .step-progress__step--active .step-progress__step-label {
    background-color: #efefef !important
  }

  .step-progress__wrapper-after {
    top: 35% !important
  }
}






//styling for dataset details page
.dsd-nav {
  justify-content: flex-end !important;

  nav {
    display: none !important;
  }

  .dsd-nav-links {
    display: flex !important;

    .dsd-link-feed,
    .dsd-link-share,
    .dsd-link-feedback,
    .dsd-link-cite {
      display: none !important;
    }

    .dsd-link-linked-data {
      display: block !important;
      width: 100%;

      a {
        color: #E3B95B !important;
      }
    }
  }
}

.dsd-header-info {
  justify-content: flex-start !important;
  gap: 1.5rem;
}


.dsd-description-content {
  padding: 0;
}



.content {
  width: 100% !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0 !important;

  h1.text-primary.page-title{
    margin-left: -10px !important;
    margin-right: 0;
  }

  .datasets.content{
    margin-top:0 !important;
    padding-top: 0 !important;
  }

  .dsd-content {
    width: 100% !important;


    // .heading {
    //   background-color: #1E2E4D;
    //   color: #fff;
    //   border-top-right-radius: .375rem;
    //   border-top-left-radius: .375rem;
      
    // }
    .heading {
      // background-color: #1E2E4D;
   
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
      padding: 0 !important;
      margin: 0 !important;
      
      .dsd-feature-title{
        font-size: 1.25rem !important;
        font-weight: 500;
      }
      div{
        padding: 0;
      }
      // border-top-right-radius: .375rem;
      // border-top-left-radius: .375rem;
    }
  }
}



.dsd-feature-header-arrow-container {
  display: inline-block;
  margin-right: 10px !important;
  padding: 0 !important;
  flex: 0 0%;
  max-width: 8.33333333%;

  i {}
}


.dsd-item.additional-information {
  padding: 0;
  margin-left: 0rem;

  .table {
    background-color: transparent;
    padding-left: 0 !important;

    tr {
      border-bottom: 1px solid #e4e4e7;

      td.font-weight-bold {
        font-weight: 500;
        color: #3f3f46;
      }

      td {
        padding-left: 0;
        color: #71717a;
      }
    }
  }
}

.dsd-distributions,
.dsd-keywords-feature,
.dsd-categories-feature,
.dsd-properties,
.dsd-map-feature {
  // -webkit-box-shadow: 1px 7px 15px -8px #E4E4E7;
  // box-shadow: 1px 7px 15px -8px #E4E4E7;
  // border: 2px solid #e4e4e7;
  padding: 0rem;
  border-radius: .5rem;
}

.dsd-feature-header-arrow-container{
  display: none;
}


//keyword tags alignment
.keywords__item {
  // flex: 0 0 91.66666667%;
  // max-width: 96.66666667%;
  // width: 96.66666667%;
  // align-self: flex-end;
  margin-top: 0 !important;

  &.row {
    gap: .1rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -2px;
}

.tag-color {
  border-radius: 0.375rem !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.325rem 0.625rem !important;
  margin-top: 0;
  margin-left: 0;
  background-color: #314D84 !important;
  color: #fff;
}

.dsd-title-tag,
.dsd-action-button,
.download-all-btn {
  background-color: #1E2E4D;
  border-radius: .375rem !important
}

.dsd-header-title{
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: .5rem;
}

.download-all-btn {
  background-color: #314d84;
  border-radius: .375rem !important;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.distributions-header-container {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: .1rem !important;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.distributions-header-title{
  h2, h3{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .distributions-header-title-count-container{
    font-size: .83rem !important;
  }
}

.distributions-header-title-container {
  padding: 0;
  margin: 0;
}

.distributions-header-bottom-hr {
  display: none
}

.distributions {
  margin-top: 1rem;
}

.settings-facet,
.datasets-filters-navigation,
.validate-btn, 
#subNavigation {
  display: none !important;
}

.distributions__item {
  border-bottom: none !important;
  margin: 3rem 0;
}

.distribution-details-show-more {
  color: #E3B95B;
}

.datasets-found, .resource-found {
  &.alert-primary {
    background-color: #1E2E4D;
    color: #fff !important;
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.facet-field {
  .facet-title {
    background-color: transparent;
    -webkit-box-shadow: 0px 11px 40px -14px #D4D4D8;
    box-shadow: 0px 11px 40px -14px #D4D4D8;
    border-bottom: 1px solid #d4d4d8;
  }
}

.list-group-item {
  &-action.facet:hover {
    border: 1px solid #1E2E4D;
    transition: .75;
  }
}

.page-link.prev-button, .page-item-next, .page-item, .page-link {
 height: 39px !important;
}


//responsive styles for dataset details page
@media screen and (max-width: 996px) {

  .dsd-distributions,
  .dsd-keywords-feature,
  .dsd-categories-feature,
  .dsd-properties,
  .dsd-map-feature {
    width: 100% !important;
    margin-left: 0%;
  }


  //keyword tags alignment
  .keywords__item {
    flex: 0 0 91.66666667%;
    max-width: 96.66666667%;
    width: 96.66666667%;
    align-self: flex-end;

    &.row {
      gap: .1rem;
    }
  }

  .dsd-item.additional-information {
    margin-left: 0rem !important;
    padding-left: 0rem;

    a {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
}

// import empty theme after styles are loaded
@import "empty_theme";
@import "datasets_catalogs";